<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Tamagotchi</title>
    </head>
    <body>
        <h1>Create your own Tamagotchi!</h1>
        <form action='/new_tamagotchi' method='post'>
            <label for='name'>What is your Tamagotchi's name?</label>
            <input type='text' name='name' id='name'>
            <button type='submit'>Hit Me!</button>
        </form>

    </body>
</html>
